<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Andy Thul's Homepage!</h1>
    <p>Hello! I'm glad you stopped by. As mentioned, my name is Andy. I am currently enrolled in the 2 month Ruby on Rails bootcamp at Code Fellows in Seattle, WA. I am changing careers and have chosen the endlessly changing and interesting field of programming and web application developement. I am hard working, quick learning, and have a deep desire to continue growing my coding skills!
</body>
<html>
